:root {
  --dark-green: #0B7A75;
  --green: #0B7A75;
  --dark-tan: #ffffff;
  --tan: #fffefe;
  --dark-red: #c20a0a;
  --darker-red: #ff1500;
  --dark-grey: #b72e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imprima", sans-serif;
  color: var(--dark-red);
  font-size: 1.1rem;
}

body {
  overflow-y: scroll;
  background-color: var(--dark-tan);
}

header,
main,
footer {
  height: 100%;
  line-height: 1.5rem;
}

ol,
ul {
  list-style: none;
}

p {
  margin-bottom: 20px;
}

/* Header */

.navbar,
header {
  height: 90px;
  background-color: var(--dark-green);
  align-items: center;
  color: var(--tan);
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-container h1,
.nav-container ul {
  width: 100%;
}

.nav-container ul {
  text-align: center;
  height: 1.5rem;
}

h1 {
  margin-left: 1rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.56rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  background-color: var(--tan);
}

header nav,
header nav h1 {
  background-color: var(--dark-green);
  color: var(--tan);
}

header nav ul {
  display: inline-block;
  background-color: var(--dark-green);
}

.portrait {
  height: 13rem;
  width: 10rem;
  float: left;
  margin: 0.5rem 1rem 1rem 0;
}

.portrait-body {
  width: 100%;
}

.about-me {
  padding: 1rem;
  min-height: 13.125rem;
  background-color: var(--dark-tan);
  text-align: justify;
  min-height: 80vh;
}

.about-me p,
.about-me h2 {
  background-color: var(--dark-tan);
  margin-bottom: 20px;
}

.about-me h3 {
  margin-bottom: 5px;
}

.about-me a {
  margin-bottom: 20px;
}

.about-me ul {
  list-style-type: disc;
  margin-left: 1.2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
}

/* Work */
.work-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#work {
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.card {
  min-height: 21rem;
}

.card-image {
  width: 100%;
  object-fit: cover;
  object-position: 25% 25%;
  margin-bottom: 1rem;
  border: 1px solid var(--dark-red)
}

.card-column {
  flex: 1 0 100%;
  padding: 0.9375rem;
  padding-top: 0;
  min-height: 15.625rem;
  text-decoration: none;
}

.card-column .card-image {
  height: 15.625rem;
}

.card-column.rest .card-image {
  height: 12.5rem;
}

.card-column.rest {
  min-height: fit-content;
}

.card .card-column a {
  text-decoration: none;
  color: var(--dark-red);
}

.card,
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.9375rem;
  border: 1px solid var(--dark-red);
  box-shadow: 5px 5px 10px #7f7f7f;
  background-color: var(--tan);
}

.card:hover {
  box-shadow: inset 0px 0px 8px var(--tan), 0 0 20px var(--dark-grey);
  color: var(--dark-red);
  cursor: pointer;
}

.card:active {
  color: black;
  background-color: var(--dark-tan);
  box-shadow: inset 0px 0px 15px var(--dark-grey), 0 0 15px var(--tan);
}

.card-body {
  text-align: left;
  font-size: 0.94rem;
  background-color: var(--tan);
}

.card-header {
  background-color: var(--tan);
}

/* Contacts */
.contacts {
  padding: 1.25rem;
  color: var(--dark-red);
  background-color: var(--dark-tan);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.contacts h2 {
  margin-bottom: 1rem;
}

.contacts input {
  background-color: var(--tan);
  margin-bottom: 1rem;
}

.contacts #name,
.contacts #email {
  width: 100%;
  border: 2px solid var(--dark-red);
  border-radius: 4px;
  height: 2rem;
  padding: 0.5rem;
}

.contacts #message {
  width: 100%;
  height: 15rem;
  background-color: var(--tan);
  border: 2px solid var(--dark-red);
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.contacts button {
  color: var(--dark-tan);
  background-color: var(--dark-red);
  width: 10rem;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.contacts button:hover {
  color: var(--dark-tan);
  background-color: var(--tan);
  transition: 0.3s ease;
}

.project {
  padding-top: 1rem;
  min-height: 80vh;
}

.projectBtn {
  display: flex;
  justify-content: center;
}

.go-back {
  background-color: var(--dark-red);
  color: var(--dark-tan);
  height: 2rem;
  width: 9rem;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 0.4rem;
}

.go-back:hover {
  color: var(--dark-tan);
  background-color: var(--tan);
  transition: 0.3s ease;
}

.project .card-body {
  margin-bottom: 1rem;
}

.project ul {
  list-style-type: disc;
  background-color: var(--tan);
  margin-bottom: 1rem;
}

.project li {
  background-color: var(--tan);
  margin-left: 1.5rem;
  font-size: 0.94rem;
}

.project-links {
  background-color: var(--tan);
  font-size: 0.94rem;
  text-decoration: underline;
  color: blue;
}

.go-back:active,
#facebook:active,
#github:active,
#linkedin:active,
.contacts button:active {
  box-shadow: inset 0 0 5px var(--dark-grey);
}

.error-text {
  color: red;
  margin-bottom: 2rem;
}

.nav-link {
  background-color: var(--dark-green);
  padding: 0.2rem 0.3rem 0 0.3rem;
  text-decoration: none;
  color: var(--dark-tan);
  font-size: 0.8rem;
}

.nav-link:hover {
  text-decoration: none;
}

.active {
  background-color: var(--dark-tan);
  color: var(--dark-red);
  border-radius: 4px;
  padding-bottom: 1rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dark-tan);
}

footer img {
  margin: 10px;
  height: 40px;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Screen Size Adjustments */
@media screen and (min-width: 768px) {
  .card-column.rest {
    max-width: 50%;
  }

  .nav-container {
    flex-direction: column;
    background-color: var(--dark-green);
  }

  header {
    flex-direction: row;
    align-items: end;
  }

  .nav-link {
    padding: 0.2rem 1.25rem 0 1.25rem;
    font-size: 1.1rem;
  }

  .active {
    padding-bottom: 1rem;
  }

  .contacts #name,
  .contacts #email {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .card-column.rest {
    max-width: 33.333%;
  }

  .nav-container {
    flex-direction: row;
  }

  .nav-container h1 {
    width: 40%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-container ul {
    height: 1.5rem;
    padding-top: 3rem;
    margin-top: 0.1rem;
    text-align: end;
  }

  .active {
    padding-bottom: 1rem;
  }

  .contacts #name,
  .contacts #email {
    width: 30%;
  }

  .contacts #message {
    width: 75%;
  }
}
